.detailsContainer {
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
  background: rgba(53, 53, 53, 0.692);
}

.img {
  height: 230px;
  width: auto;
  border-radius: 10px;
}

.description {
  display: grid;
  gap: 40px;
  margin-left: 50px;
  margin-right: 10rem;
}

.nameGame {
  margin-left: 20px;
  font-size: 2rem;
}

.released {
  margin-top: -40px;
  margin-left: 40px;
}

.ratingContainer {
  display: flex;
  margin-left: 60px;
  margin-top: -30px;
}

.rating {
  margin-left: -65px;
  padding: 10px;
}

.iconContainer {
  margin-top: 2px;
  margin-left: 2px;
}
.icon {
  color: orange;
  font-size: 1.2rem;
}

.infoContainer {
  display: flex;
  gap: 20px;
  margin-left: 40px;
  margin-top: -40px;
}

.genres {
  background: rgba(0, 0, 0, 0.249);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.382);
  border-radius: 2px;
  border: none;
}

.platforms {
  background: rgba(0, 0, 0, 0.249);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.382);
  border-radius: 2px;
  border: none;
}

.btnContainer {
  float: right;
  margin-left: 20px;
  margin-right: 40px;
}

.btn {
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.2rem;
  background: rgb(36, 36, 36);
  box-shadow: 0 0 4px rgb(0, 195, 255);
}

.btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .img {
    width: 300px;
    height: auto;
    margin-left: -15px;
    margin-top: 40px;
  }

  .btn {
    margin-left: -320px;
  }

  .description {
    margin-top: 13em;
    margin-left: -270px;
  }
  .nameGame {
    font-size: 20px;
    margin-left: 40px;
    width: 200px;
  }
  .released {
    margin-left: 75px;
  }
  .ratingContainer {
    margin-left: 90px;
    margin-top: -50px;
  }
  .genres {
    margin-left: -5px;
    width: 200px;
  }

  .infoContainer {
    display: grid;
  }
  .platforms{
    margin-top: -25px;
    margin-left: -5px;
  }
  .descriptionContainer{
   position: absolute;
    width: 200px;
    margin-top: -180px;
    margin-left: 300px;
  }
}
