.select {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(36, 36, 36);  
    box-shadow: 0 0 4px  rgb(0, 195, 255); 
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    cursor: pointer;
}

.option {
    background: rgb(36, 36, 36);


}

.option:hover {
    background: white;
}

