.boxContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.btn {
    border: none;
    cursor: pointer;
    
}

.btn:focus , .btn:active {
    background: rgb(39, 39, 39);
    box-shadow: 0 0 4px  rgb(0, 195, 255); 

}

