

.searchContainer {
    display: flex;
    justify-content: center;
    margin-top: -15px;

    
}

.input {
    background: rgba(83, 83, 83, 0.613);
    width: 30rem;
    height: 30px;
    color: white;
    position: absolute;
    border-radius: 3px;
    border: none;
    box-shadow: 0 2px 0 0  rgb(0, 195, 255);    
   
}

.btnContainer {
    background: rgba(0, 0, 0, 0); 
    margin-left: 28.5rem;
    position: relative;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 1px;
    cursor: pointer;

}
.btnContainer:hover {
    background: rgba(255, 255, 255, 0.102);
    
}

.btn {
    color: white;
    font-size: 15px;
    height: 25px;
}

.input::marker {
    box-shadow: 0 2px 0 0  rgb(0, 195, 255);    

}

@media screen and (max-width: 768px) {

    .containerSearch .searchContainer {
        display: flex;
        justify-content: center;
        position: absolute;
        margin-left: 40px;
    }

    .containerSearch .searchContainer .input {
       width: 15rem;
    }

    .containerSearch .searchContainer .btnRes  {
        margin-right: 130rem;
        position: absolute;
    }
    
}

